@vas:registry=https://npm.vas.it
//npm.vas.it/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJkYW5pZWxlLm11bGFzIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sIm5hbWUiOiJkYW5pZWxlLm11bGFzIiwiZ3JvdXBzIjpbImRhbmllbGUubXVsYXMiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJkYW5pZWxlLm11bGFzIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTYyNTQ3MTgyMywibmJmIjoxNjI1NDcxODI0LCJleHAiOjE2MzA2NTU4MjN9.pouPPZoUdpoU7A01GaSZ-8gCgRwPJK3jz5cndmumml4